.parent{
    width: 100%;
    display: flex;
    justify-content: center;
}
.content{
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(3,minmax(300px,1fr));
    gap: 2rem;
    width: 80%;
    
    
}